
.custom-card {
    background-color: #494949;
    color: #E0D5D5;
}

.custom-link {
    color: #EA7044;
}

.btn-primary {
    border: solid 2px #EA7044;
    color: #EA7044;
    background-color: #494949;
}

.btn-primary:hover {
    border: solid 2px #EA7044;
    background-color: #EA7044;
    color: #494949;
}

/* be more specific when overriding bootsrap styling */